<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871225930361-pgbeai7hqn41dfu7k0274mps8j1av48g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871225930361-pgbeai7hqn41dfu7k0274mps8j1av48g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>871225930361-b4au5v3tkjqmgrencu5p2e2lkeutsfhr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXGE0Z1cKJa3hJ8CyKAadd28dcFcVCWOI</string>
	<key>GCM_SENDER_ID</key>
	<string>871225930361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.happybell</string>
	<key>PROJECT_ID</key>
	<string>frinurse</string>
	<key>STORAGE_BUCKET</key>
	<string>frinurse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871225930361:ios:c27c0d386863ae54</string>
	<key>DATABASE_URL</key>
	<string>https://frinurse.firebaseio.com</string>
</dict>
</plist>