<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318665625677-mh0667qn6vj1cp1pgumdk41u1u3go6ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318665625677-mh0667qn6vj1cp1pgumdk41u1u3go6ro</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Wzb8T_6muTHrChx4F_snduuIPKR-b_A</string>
	<key>GCM_SENDER_ID</key>
	<string>318665625677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.della-inc.so.test</string>
	<key>PROJECT_ID</key>
	<string>ami-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>ami-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318665625677:ios:044e7f857f3fdf95a1cc04</string>
</dict>
</plist>