@charset "utf-8";
/* CSS Document */
.master_area {
	background-color:#0071c5;
	font-size:13px;
}
.title {
	float:left;
}
.master_area .title p {
	font-size: 1.1em;
}
.master {
	max-width: 960px;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 50px;
}
.master table {
	border:#666666 1px solid;
}
.master td {
	padding:3px 7px;
	border:#666666 1px solid;
}
.master th {
	text-align: center;
	font-weight:normal;
	color: #FFFFFF;
	background-color: #0f5fa7;
	padding:3px 7px;
	border:#666666 1px solid;
}
.master td p{
	font-size:13px;
	margin:0;
}
/*  管理ページ　ログイン
**************************/
.master .login {
	width: 400px;
	margin: auto;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #D1E8EF;
}
.master .a1 {
	width: 130px;
	margin-bottom: 30px;
	float: left;
	margin-left: 30px;
}
.master .a2 {
	width: 200px;
	float: left;
}
.master .a3 {
	clear:both;
	text-align:center;
}
.sub {
	text-align: center;
	margin-top: 15px;
}
.title2 {
	float: right;
	margin-right:50px;
}
/* 登録テーブル
*****************************/
.wrap {
	width: 910px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 10px;
}
.bt1 {
	background-color: #00D4F7;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.err{
	font-weight: bold;
	color: #FF0000;
	text-align: center;
	margin-bottom: 30px;
}
.err1 {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF393C;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border-radius: 5px;
}
.err3 {
	color:#FF0004;
	text-align:right;
}
.style_r {
	color:#FF0004;
}
.touroku {

}
.entry_c {
	text-align: center;
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}
.kanri1 {
	color: #333333;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 20px;
}
.kanri1 table td {
	border:1px #999999 solid; 
	padding: 3px;
}
.kanri1 table th {
	border:1px #999999 solid;
	background-color:#6890a5;
	color: #FFFFFF;
	font-weight:normal;
	text-align:center;
}
.menu {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 7px;
}
.kanri-1 {
	background-color:#666666;
}

/*  代理店管理
*************************************/
.kanri {
	color: #333333;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 20px;
}
.kanri table td {
	border:1px #999999 solid; 
	padding: 3px;
}
.kanri table th {
	border:1px #999999 solid;
	background-color:#6890a5;
	color: #FFFFFF;
	font-weight:normal;
	text-align:center;
}
.kanri .t1 {
	width: 8%;
	background-color: #E5E2E2;
}
.kanri .t2 {
	width:18%;
	background-color: #E5E2E2;
}
.kanri .t3 {
	width: 12%;
	background-color: #E5E2E2;
}
.kanri .t4 {
	width:12%;
	background-color: #E5E2E2;
}
/* 管理 loginfo
*************************************/
.kanri_loginfo {
	color: #333333;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 20px;
}
.kanri_loginfo table td {
	border:1px #999999 solid; 
	padding: 3px;
}
.kanri_loginfo table th {
	border:1px #999999 solid;
	background-color:#6890a5;
	color: #FFFFFF;
	font-weight:normal;
	text-align:center;
}
.kanri_loginfo .t1 {
	width: 16%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_loginfo .t2 {
	width: 16%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_loginfo .t3 {
	width: 20%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_loginfo .t4 {
	width: 16%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_loginfo .t5 {
	width: 16%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_loginfo .t6 {
	width: 16%;
	background-color: #E5E2E2;
	text-align: center;
}

/* 管理 log 通話履歴
*************************************/
.kanri_log{
	color: #333333;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 20px;
}
.kanri_log table td {
	border:1px #999999 solid; 
	padding: 3px;
}
.kanri_log table th {
	border:1px #999999 solid;
	background-color:#6890a5;
	color: #FFFFFF;
	font-weight:normal;
	text-align:center;
}
.kanri_log .t1 {
	text-align:center;
	width: 5%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t2 {
	text-align:center;
	width: 12%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t3 {
	text-align:center;
	width: 6%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t4 {
	text-align:center;
	width: 6%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t5 {
	text-align:center;
	width: 12%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t6 {
	text-align:center;
	width: 7%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t7 {
	text-align:center;
	width: 7%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t8 {
	text-align:center;
	width: 12%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t9 {
	text-align:center;
	width: 13%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t10 {
	text-align:center;
	width: 6%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t11 {
	text-align:center;
	width: 6%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_log .t12 {
	text-align:center;
	width: 6%;
	background-color: #E5E2E2;
	text-align: center;
}
.kanri_t {
	margin: 10px 0px 3px 0px;
}