<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery UI CSS -->
  <link href="/assets/css/jquery-ui.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!-- font icon -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <!-- style -->
  <link href="/assets/css/style.css" rel="stylesheet"/>

  <style>
    #contents {
      margin-top: 10px;
    }
  </style>
</head>
<body class="color-dark menu-top">

<header class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">テレナス</a>
    </div>
  </div>
</header>

<ol class="breadcrumb border-flat" style="margin-bottom: 0;">
  <li><a href="/">メニュー</a></li>
  <li class="active">ログ</li>
</ol>

<div id="contents">

  <div class="page-header" style="margin-top: 0;">
    <div class="container-fluid">
      <div class="row">
        <h4 class="page-header-title" style="margin-top: 5px;">ログ</h4>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a id="clear-button" class="btn btn-default btn-sm toggle btn-3d">クリア</a>
            <a id="close-button" class="btn btn-default btn-sm toggle btn-3d">停止</a>
            <a id="open-button" class="btn btn-default btn-sm toggle btn-3d" style="display: none;">開始</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">

        <ul id="logs"></ul>

      </div>
    </div>

  </div>

</div>


<!-- javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>

  jQuery(function($) {

    var $logs = $('#logs');
    var $closeButton = $('#close-button');
    var $openButton = $('#open-button');
    var socket;

    function init() {
      setupIO();
    }

    function setupIO() {
      console.log('connect');
      socket = io.connect();

      socket.on('connect', function(data) {
        console.log('connected');
        socket.emit("view_log", {});
      });
      socket.on('udp', function(data) {
        $logs.prepend('<li>' + data + '</li>');
      });
    }

    function addTableRow(items) {

    }

    function statusText(val) {

    }

    $('#clear-button').click(function() {
      $logs.html('');
    });

    $closeButton.click(function() {
      socket.disconnect();
      $openButton.show();
      $closeButton.hide();
    });

    $openButton.click(function() {
      $openButton.hide();
      $closeButton.show();
      socket.connect();
    });

    init();

  });
</script>

</body>
</html>